@font-face {
    font-family: 'GeneralSans-Regular';
    src: url('fonts/GeneralSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GeneralSans-Medium';
    src: url('fonts/GeneralSans-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeneralSans-Semibold';
    src: url('fonts/GeneralSans-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gotcha-regular';
    src: url('fonts/gotcha-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono-SemiBold';
    src: url('fonts/GeistMono-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}





:root {
    --font1: 'GeneralSans-Regular';
    --font1_Medium: 'GeneralSans-Medium';
    --font1_SemiBold: 'GeneralSans-Semibold';
    --font2: 'gotcha-regular';
    --font3: 'GeistMono-SemiBold';
    --color1: #007173;
    --color2: #0B3938;
    --color3: #FFE1D6;
    --color4: #009496;
    --color5: #F1EAE6;
    --colorHover: #0F1828;

    --colorParagraph: #383838;
}




html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html{
    overflow-x: hidden;
}
body {
    line-height: 1;
    /*! overflow-x: hidden; */
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

video,
img {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

body {

    font-family: var(--font1);
    position: relative;
    max-width: 1512px;
    margin: auto;
    font-size: 18px;
    color: var(--colorParagraph);
}

body.hidden {
    overflow: hidden;
    height: 100vh;
}
body.hidden2 {
    overflow: hidden;
    height: 100vh;
}
b {
    font-family: var(--font1_SemiBold);
}

body p {
    line-height: 24px;
}

/*
body *{ outline: 1px dashed red; }
body:before{ content: url(home.jpg); opacity: .5; position: absolute; top: 0; left: 0; right: 0; margin: auto; pointer-events: none;}
*/

/* presets */

/* BUTTONS */
.btn {
    font-family: var(--font1);
    border-radius: 150px;
    font-weight: 600;
    line-height: 56px;
    font-size: 16px;
    display: block;
    padding: 0 23px;
    max-width: fit-content;
    transition: .3s;
}

.btn_primary {
    background: var(--color1);
    color: #fff;
}

.btn_primary:hover {
    background: var(--color2);
}

.btn_secondary {
    background: none;
    border: 1px solid #0F182880;
}

.btn_secondary:hover {
    border: 1px solid var(--color1);
    color: var(--color1);
}

.btn_tertiary {
    color: var(--color1);
    font: 400 16px/24px var(--font1_SemiBold);
    position: relative;
    padding-right: 29px;
}

.btn_tertiary:hover:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    background: var(--color1);
}

.btn_tertiary:after {
    content: url(images/icon/ArrowUpRight.png);
    position: absolute;
    right: 0;
    transition: transform .2s ease;
}

/* headings */
.heading_small {
    letter-spacing: 2px;
    display: block;
    color: #0F1828BF;
    text-transform: uppercase;
    font: 600 13px/100% var(--font1);
}

.heading_primary {
    color: var(--color1);
    font-size: 60px;
    font-weight: 400;
    font-family: var(--font2);
}


#bottom1,
#bottom2,
#bottom3,
#bottom4,
#bottom5,
#bottom6,
footer {
    padding: 0 10px;
}

.wrapper {
    max-width: 1320px;
    width: 100%;
    margin: auto;
    position: relative;
}

@keyframes openModal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

#modal {
    animation: openModal .2s;
    display: none;
    z-index: 9999;
    position: fixed;
    background: #fff;
    inset: 0;
    padding: 20px;
}

#modal .modal_con {
    height: 100%;
    position: relative;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 100%;
}

#modal .close {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
}

#modal h2 {
    font-family: var(--font1_SemiBold);
    font-size: 40px;
    font-weight: 700;
    line-height: 48.41px;
    text-align: center;
}

#modal .input_holder {
    position: relative;
    width: 100%;
    max-width: 806px;
}

#input_search {
    width: 100%;
    font-size: 18px;
    padding: 10px 13px 9px 19px;
    border-radius: 5px;
    border: 1px solid #5E5E5E;
    background: #0F18280D;
}

#input_search::placeholder {
    color: #888888;
}

#modal .input_holder:before {
    content: url(images/icon/MagnifyingGlass.png);
    position: absolute;
    right: 10px;
    top: 9px;
}


header {
    box-shadow: 0px 4px 32px 17px #00000008;
    max-width: 1320px;
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
    border-radius: 150px;
    padding: 10px 17px 10px 30px;
    background: #fff;
}

.header_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_logo {}

.main_logo a {}

.main_logo a figure {}

.main_logo a figure img {}


#main_menu nav {}

#main_menu  .main_nav {
    display: flex;
    gap: 5px;
    margin-left: 51px;
    position: relative;
}


#main_menu  .main_nav li a.nav_btn {
    position: relative;
    padding: 14px 30px 14px 20px;
    border-radius: 150px;
    font-weight: 500;
    background: #fff;
    display: block;
    z-index: 1;
}

#main_menu  .main_nav li a.nav_btn:hover {
    background: var(--color3);
    color: var(--colorHover);
    text-shadow: 0px 0px 1px var(--colorHover);
}

#main_menu  .main_nav li a.nav_btn:hover:before {
    transform: scaleY(-1) rotate(90deg);
}

#main_menu  .main_nav li a.nav_btn:before {
    content: '\203A';
    position: absolute;
    right: 9px;
    font-size: 22px;
    top: 13px;
    transform: rotate(90deg);
    transition: .3s ease;
}

#main_menu >ul .child_nav:before {
    content: '';
    position: absolute;
    left: 0;
    top: -50px;
    right: 0;
    height: 100%;
    z-index: -1;
}


#main_menu >ul .child_nav {
    display: none;
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    background: #fff;
    margin: auto;
    border-radius: 8px;
    padding: 40px;
    z-index: 0;
}

#main_menu >ul li:hover .child_nav {
    display: block;
}

#main_menu >ul li .properties_nav {}

#main_menu >ul li .properties_nav .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#main_menu >ul li .properties_nav .title h4 {

    font-family: var(--font1_SemiBold);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;

    text-transform: uppercase;
}

#main_menu >ul li .properties_nav .title a {}

#main_menu >ul li .properties_nav .map {
    display: flex;
    justify-content: space-between;
}

#main_menu >ul li .properties_nav .map a {
    font-family: var(--font1_SemiBold);
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

#main_menu >ul li .properties_nav .map a iframe {
    width: 80px;
    aspect-ratio: 1/1;

}

#main_menu >ul li .properties_nav .map a svg {
    fill: #0F182880;
    transition: .3s;
}

#main_menu >ul li .properties_nav .map a:hover svg {
    fill: #0F1828;
}

#main_menu >ul li .properties_nav .map a img {
    width: 80px;
    aspect-ratio: 1/1;
}

#main_menu >ul li:hover .flex_nav {
    display: flex;
    justify-content: space-between;
}

#main_menu >ul li .flex_nav {
    display: none;
    padding: 0;
}

#main_menu >ul li .flex_nav .child_nav_left {
    padding: 40px;
}

#main_menu >ul li .flex_nav .child_nav_left h4 {
    font-family: var(--font1_SemiBold);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#main_menu >ul li .flex_nav .child_nav_left ul {}

#main_menu >ul li .flex_nav .child_nav_left ul li {
    margin-bottom: 20px;
}

#main_menu >ul li .flex_nav .child_nav_left ul li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

}

#main_menu >ul li .flex_nav .child_nav_left ul li a:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px #000;
    text-underline-offset: 3px;
}

#main_menu >ul li .flex_nav .child_nav_right {
    padding: 40px 30px;
    max-width: 45%;
    border-left: 1px solid #0000001A;
}

#main_menu >ul li .flex_nav .child_nav_right figure {
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

#main_menu >ul li .flex_nav .child_nav_right figure img {}

#main_menu >ul li .flex_nav .child_nav_right h5 {
    margin-bottom: 10px;
    font-family: var(--font1_SemiBold);
    font-size: 20px;
    line-height: 26px;
}

#main_menu >ul li .flex_nav .child_nav_right p {
    font-size: 14px;
}


.header_btn {
    display: flex;
    align-items: center;
    gap: 31px;
}
.arrow_tablet.show{ transform: rotate(270deg) translate(3px,-5px);}
.arrow_tablet{
   transition:.3s;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 2;
    right: 20px;
    font-size: 20px;
    top: 23px;
    transform: rotate(90deg);
    display: grid;
    place-items: center;
    cursor: pointer;
   display: none;
}
.search {
    border: none;
    border-radius: 50%;
    background-color: transparent;
    background-image: url(images/icon/MagnifyingGlass.png);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
}

.search:hover {
    transform: scale(1.1);
}


.header_btn_tablet{
    display: none;
}

#nav_menu_tablet.open{
display: block;
transform: translateX(0);
}
#nav_menu_tablet{
    position: absolute;
    display: none;
}

.toggle_menu{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 22px;
    cursor: pointer;
    height: 22px;
    display: none;
    justify-content: center;
}
.toggle_menu .line{
    width: 100%;
    height: 2px;
    background: #5E5E5E;
   transition: .3s;
    transform-origin: center;
    border-radius: 1px;
}

.toggle_menu .line:nth-child(2){
    width: 80%;
    margin-left: auto;
}

.toggle_menu.open .line:first-child{
 transform: rotate(45deg) translate(5px,6px);
}
.toggle_menu.open .line:nth-child(2){
    opacity: 0;
}
.toggle_menu.open .line:last-child{
transform: rotate(-45deg) translate(5px,-4px);
}



#hero {
    position: relative;
    background: var(--color5);
    padding: 0 10px;
}

#hero:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    background: var(--color4);
}

.hero_con {
    padding-top: 332px;
    min-height: 760px;
}

.hero_info {
    max-width: 470px;
}

.hero_info h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 12px;
}

.hero_info h2 span {}

.hero_info p {}

.hero_info .hero_btn {
    display: flex;
    gap: 10px;
    margin-top: 34px;
}

.hero_info .hero_btn a {}

.hero_image {
    position: absolute;
    right: 33px;
    bottom: 0;
    max-width: 604px;
    aspect-ratio: 1/1;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    width: 50%;
}

.hero_image img {
    height: 100%;
    object-fit: cover;
}


#main_area {}

.main_area_con {
    padding: 120px 0 10px 0;
    min-height: 550px;
}

.main_image {
    max-width: 650px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
}

.main_image img {}

main {
    max-width: 563px;
    margin-left: auto;
    margin-right: 78px;
    width: 47%;
}

main h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

main h1 small {
    margin-bottom: 10px;
}

main h1 .heading_primary {
    font-size: 60px;
    line-height: 90%;
}

main p {}

.main_btn {
    margin-top: 36px;
    display: block;
    max-width: fit-content;
}



#bottom1 {
    background: #F1EAE6;
}

.btm1_con {
    padding: 80px 0 79px;
}

.btm1_con h2.title {
    font-size: 40px;
    font-family: var(--font1_SemiBold);
    margin-bottom: 45px;
}

.btm1_con_holder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.btm1_image {
    max-width: 760px;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
    width: 59%;
}

.btm1_image img {
    height: 100%;
    object-fit: cover;
}

.btm1_info {
    max-width: 493px;
}

.btm1_info h3 {
    color: #1C1C1C;
    font: 600 32px/40px var(--font1_SemiBold);
    margin-bottom: 15px;
}

.btm1_info h3 small {
    color: var(--color1);
    margin-bottom: 10px;
}

.btm1_info b {
    display: block;
}

.btm1_info a {
    margin-top: 40px;
}


#bottom2 {}

.btm2_con {
    min-height: 984px;
    padding: 80px 0;
}

.btm2_info {
    max-width: 680px;
    position: sticky;
    top: -80px;
}

.btm2_info h2 {
    color: #1C1C1C;
    font: 400 40px/44px var(--font1_SemiBold);
    margin-bottom: 15px;
}

.btm2_info h2 small {
    margin-bottom: 16px;
}

.btm2_info .states {
    margin: 70px 0 0 0;
}

.btm2_info .states h3 {
    font-family: var(--font1);
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 21px;
    margin-left: 20px;
}

.btm2_info .states ul {}

.btm2_info .states ul li {
    margin-bottom: 20px;
}

.btm2_info .states ul li a {
    padding: 10px 20px;
    display: block;
    border-radius: 150px;
    max-width: 262px;
    transition: .3s;
}
.btm2_info .states ul li a img{display: none;}

.btm2_info .states ul li a:hover {
    background: var(--color3);
}

.btm2_image {
    max-width: 917px;
    overflow: hidden;
    aspect-ratio: 1/1;
    position: absolute;
    top: 59%;
    transform: translateY(-50%);
    right: 0;
    width: 69%;
    opacity: 0;
    display: none;
}

.map_container{
position: absolute;
display: grid;
grid-template-columns: 1.44fr 0.8fr 0.27fr 1.3fr 0.6fr;
grid-template-rows: 0.3fr 0.47fr 1.3fr 1.4fr 0.5fr 1fr 1fr 2fr;

width: 917px;
top: 50%;
right: -20px;
transform: translateY(-50%);
aspect-ratio: 1/0.8;
max-width: 80%;
}


.map_container .na{
    grid-area:na;
}
.map_container .au_act{position: absolute;
width: 14px;
height: 20px;
grid-column: 4/5;
grid-row: 8/8;
z-index: 1;
margin-left: 56%;
top: -14%;
}


.map_container .au_nsw {grid-area:nsw;

    grid-column: 4 / 5;
    grid-row: 6/7;
    
position: absolute;
margin-right: 9%;
}


    

.map_container .au_nt { grid-area: nt;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    
}
.map_container .au_qld { grid-area:qs;
    grid-column: 3/5;
    grid-row: 1/4;
position: absolute;
}
.map_container .au_sa { grid-area:sa;

    grid-column: 2 / 4;
    grid-row: 5/7;
position: absolute;
}
.map_container .au_tas { position: absolute;

    
    width: 94px;
    height: 111px;
bottom: 0;
grid-column: 4/5;
margin-left: 20%;
}
.map_container .au_vic{ grid-area:vic;
    grid-column: 4/5;
    grid-row: 8/8;
position: absolute;
margin-top: -19%;
margin-right: 36%;
}
.map_container .au_wa{ grid-area: wa;
    grid-column: 1 / 2;
    grid-row: 3/ 6;
position: absolute;
}

.map_container .au_nsw svg,
.map_container .au_nt svg,
.map_container .au_qld svg,
.map_container .au_sa svg,
.map_container .au_tas svg,
.map_container .au_vic svg,
.map_container .au_wa svg,
.map_container .au_act svg{
    width: 100%;
}





.map_container h5{
font-family: var(--font1_SemiBold);
font-size: 13px;
line-height: 18px;
letter-spacing: 2px;
text-transform: uppercase;
z-index: 1;
position: absolute;  width: 100%;
}

.map_container .au_nsw h5{
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
  
}

.map_container .au_qld h5{
    top: 70%;
    left: 80%;
    transform: translate(-50%,-50%);
}
.map_container .au_sa h5 {
    top: 30%;
    left: 65%;
    transform: translate(-50%,-50%);
}
.map_container .au_tas h5,
.map_container .au_vic h5{
    top: 55%;
    left: 65%;
    transform: translate(-50%,-50%);
}
.map_container .au_wa h5
{

        top: 55%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
}

.map_container .au_act h5{
    top: -6px;
    left: 150%;
    text-align: center;
    width: 170px;
    text-align: left;
}


#bottom3 {
    background: #0F18280D;
}

.btm3_con {
    padding: 81px 0 80px;
}

.btm3_info {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 70px;
}

.btm3_info_holder_left h2 {
    color: #1C1C1C;
    font: 400 40px/44px var(--font1_SemiBold);
    margin-bottom: 15px;
}

.btm3_info_holder_left h2 small {
    margin-bottom: 20px;
}

.btm3_info_holder_left h2 span {
    display: block;
    font-size: 60px;
}

.btm3_info_holder_right {
    max-width: 760px;
    width: 80%;
}

.btm3_info_holder_right p {}

.btm3_info_holder_right ul {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
}

.btm3_info_holder_right li {
    width: 32%;
    border-radius: 16px;
    background:#fff;
    padding: 15px;
}

.btm3_info_holder_right li h4 {
    font-size: 26px;
    line-height: 32px;
    font-family: var(--font1_Medium);
}

.btm3_info_holder_right li h4 span {
    display: block;
    font-size: 32px;
    color: #007173;
    font-family: var(--font3);
    margin-bottom: 10px;
}

.btm3_info_holder_right .btn_holder {
    display: flex;
    align-items: center;
    margin-top: 43px;
    gap: 22px;
}

.btn_holder a {}

.btm3_image img {
    object-fit: cover;
    object-position: center;
    height: 100%;
}

#bottom4 {
    background: #09443E;
    position: relative;
    overflow: hidden;
}

#bottom4:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 360px;
    background: var(--color3);
}

.btm4_con {
    padding: 81px 0 68px;
}

.btm4_info {
    color: #fff;
    max-width: 632px;
    width: 50%;
}

.btm4_info h2 {
    font: 400 40px/44px var(--font1_SemiBold);
    margin-bottom: 15px;
}

.btm4_info h2 span {
    color: #fff;
}

.btm4_info p {}

.btm4_info ul {
    margin-top: 40px;
    counter-reset: section;
}

.btm4_info li {
    border-radius: 16px;
    padding: 20px;
    padding-left: 101px;
    margin-bottom: 10px;
    position: relative;
    background: var(--color2);
    counter-increment: section;
}

.btm4_info li:before {
    content: '0' counter(section);
    position: absolute;
    left: 32px;
    top: 24px;
    font-family: var(--font3);
    font-size: 32px;
    color: #FAE6AA;
}

.btm4_info li h3 {
    font: 400 26px/32px var(--font1_Medium);
    margin-bottom: 15px;
}

.btm4_info li p {
    font-size: 16px;
}

.btm3_image {
    max-width: 640px;
    overflow: hidden;
    aspect-ratio: 1/1;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    right: -40px;
    width: 51%;
}

#bottom5 {
    background: #fff;
}

.btm5_con {
    padding: 79px 0 110px;
}

.btm5_con h2 {
    font: 400 40px/44px var(--font1_SemiBold);
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btm5_con h2 span {}

.btm5_con a {
    margin-left: auto;
    max-width: fit-content;
    display: inline-block;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card {
    max-width: 424px;
    width: 33%;
}

.card figure {
    height: 212px;
    max-width: 424px;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 25px;
}

.card figure img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card h4 {
    font: 400 26px/32px var(--font1_Medium);
    margin-bottom: 8px;
}

.card h4 small {
    letter-spacing: 0;
    color: var(--color1);
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    max-width: 94%;
}

#bottom6 {
    position: relative;
    background: #F1EAE6;
}

#bottom6:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 360px;
    background: var(--color4);
}

.btm6_con {
    padding: 268px 0 190px;
}

.btm6_info {
    max-width: 473px;
    margin-left: auto;
    margin-right: 63px;
    width: 47%;
}

.btm6_info h2 {
    font: 400 40px/44px var(--font1_SemiBold);
    margin-bottom: 15px;
}

.btm6_info h2 span {
    font-size: 60px
}

.btm6_info p {}

.btm6_info .btn_holder {
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.btn_holder a {}

.btm6_image {
    position: absolute;
    left: 10px;
    bottom: 0;
    max-width: 604px;
    aspect-ratio: 1/1;
    border-radius: 50% 50% 0 0;
    overflow: hidden;
    width: 49%;
}

.btm6_image img {
    height: 100%;
    object-fit: cover;
}

footer {
    background: #0F1828;
}

.footer_con {}

.footer_top {
    padding: 99px 0 40px;
}

.footer_top_logo {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    align-items: center;
    margin-bottom: 34px;
}

.footer_top_logo a {}

.footer_top_links {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 16px;
    font-family: var(--font1_Medium);
}

.info_links {
    padding-top: 8px;
}

.info_links ul {}

.info_links ul li {
    position: relative;
    padding-left: 37px;
    line-height: 24px;
    margin-bottom: 7px;
}

.info_links ul li:before {
    content: url(images/icon/phone.png);
    position: absolute;
    left: 0;
    top: 0;
}

.info_links ul li:last-child:before {
    content: url(images/icon/email.png);
}


.quick_links {
    margin-left: auto;
}

.quick_links h2 {
    font-family: var(--font1_SemiBold);
    font-size: 13px;
    color: #FAE6AA;
    margin-bottom: 29px;
    letter-spacing: 2px;
}

.quick_links ul {}

.quick_links ul li {
    margin-bottom: 27px;
}


.tenants_links {
    margin: 0 89px 0 65px;
}

.tenants_links h2 {
    font-family: var(--font1_SemiBold);
    font-size: 13px;
    color: #FAE6AA;
    margin-bottom: 33px;
    letter-spacing: 2px;
}

.tenants_links ul {}

.tenants_links ul li {
    margin-bottom: 25px;
}

.info_links ul li a:hover,
.quick_links ul li a:hover,
.tenants_links ul li a:hover {
    color: #FAE6AA;
    text-decoration: underline;
    text-underline-offset: 6px;
}

.other_links {
    margin-right: 25px;
}

.other_links a.contact_us {
    background: #00BFC3;
    color: #0F1828;
    width: 240px;
    max-width: 100%;
    text-align: center;
    margin-bottom: 33px;
}

.other_links a.contact_us:hover {
    background: #2BD7DB;
}

.other_links ul {
    display: flex;
    gap: 12px;
}

.other_links ul li a {
    border-radius: 50%;
    overflow: hidden;
}

.other_links ul li a img {
    display: block;
}

.footer_bottom {
    padding: 33px 0 37px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #ffffff3d;
}

.flag_desc {
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 7px;
}

.flag_desc p {
    font-size: 14px;
    letter-spacing: .5px
}

.flag_desc .flags {
    display: flex;
    gap: 5px;
    align-items: center;
}

.copyright {
    font-size: 14px;
    letter-spacing: .5px;
}

.copyright a {
    font-weight: bold;
}

.copyright a:hover {
    text-decoration: underline;
}